<div class="col-md-12" ng-controller="RemembermeCtrl">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="text-center logo-heading">Koinonia</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Welcome {{nick}}</h1>
                    <h3>Would you like to save the login on this computer? Please select <strong>Don't Save</strong> this session on a shared computer</h3>
                    <button ng-click="savesession()" class="btn btn-lg btn-primary">Save Session</button>
                    <button ng-click="messages()" class="btn btn-lg btn-warning">Don't Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
